:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face{
  font-family: 'Liberty';
  src:local('Liberty'), url(/fonts/liberty/otf) format('opentype')
}
@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(/fonts/raleway.regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Variable';
  src: local('Raleway-Variable'), url(/fonts/Raleway-Variable.ttf) format('truetype');
  font-style:normal;
  font-weight:500;
}

@font-face {
  font-family: 'Inconsolata-light';
  src: local('Inconsolata-light'), url(/fonts/Inconsolata-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata-medium';
  src: local('Inconsolata-medium'), url(/fonts/Inconsolata_Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata-regular';
  src: local('Inconsolata-regular'), url(/fonts/Inconsolata_Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inconsolata-semi';
  src: local('Inconsolata-semi'), url(/fonts/Inconsolata_SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Gladolia';
  src: local('Gladolia'), url(/fonts/gladolia-demo.regular.otf) format('opentype');
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

 

}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

 

}
